<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="dmdz_contact" type="DmDz\TestProject\Plugin\Save\Post" sortOrder="1"/>
    </type>
    <preference for="DmDz\TestProject\Api\Data\QuestionInterface" type="DmDz\TestProject\Model\Question" />
    <preference for="DmDz\TestProject\Api\QuestionRepositoryInterface" type="DmDz\TestProject\Model\QuestionRepository" />
    <virtualType name="QuestionGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="QuestionGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">DmDz\TestProject\Model\Resource\Question\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">QuestionGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DmDz\TestProject\Model\ResourceModel\Question\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">user_questions</argument>
            <argument name="resourceModel" xsi:type="string">DmDz\TestProject\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contact_form_listing_data_source" xsi:type="string">DmDz\TestProject\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>