<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dzy_News::add_row" title="Test_News" module="Dzy_News"
             sortOrder="51" action="news/news/" resource="Dzy_News::add_row"
             parent="Magento_Customer::customer"/>
    </menu>
</config>

