<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Dzy\News\Model\ResourceModel\News\News\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dzy_news</argument>
            <argument name="resourceModel" xsi:type="string">Dzy\News\Model\ResourceModel\News</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="news_record_news_list_data_source" xsi:type="string">Dzy\News\Model\ResourceModel\News\News\Collection</item>
            </argument>
        </arguments>
    </type>
</config>