<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ModMail_TestMail::data" title="Send Email" module="ModMail_TestMail" sortOrder="75" resource="ModMail_TestMail::data"
             action="sendmail/data/index" parent="Magento_Customer::customer"/>
    </menu>
</config>